@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Fugaz+One&amily=Chonburi&family=Oleo+Script:wght@400;700&family=Yeseva+One&display=swap');
#masthead {
    padding-top: 15px;
    padding-bottom: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.header-container {
    background-color: rgb(14, 16, 31);
    display: grid;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    z-index: 10000000000;
}

.site-title {
    color: #FFFFFE;
    position: fixed;
    font-family: 'Fugaz One' !important;
    font-size: 250%;
    letter-spacing: 2.5px;
    text-align: center;
    margin: auto;
    grid-row: 1/2;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    background-color: rgb(14, 16, 31);
    z-index: 10000000000;
}

@media only screen and (max-width: 600px) {
    .site-title {
        font-size: 130%;
    }
}

.menu-container {
    position: fixed;
    bottom: 0;
    display: grid;
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #333;
    z-index: 10000000000;
}

.menu-item {
    z-index: 200;
    grid-row: 1/1;
    grid-gap: 5%;
    font-family: 'Arial';
    font-style: italic;
    font-size: 135%;
    color: white;
    text-align: center;
    text-decoration: none;
    border-left: 2px sollid gray;
    border-right: 2px solid gray;
}

#gallery-link {}

#about-link {}

#contact-link {}


/* Change the link color to #111 (black) on hover */

.menu-item:hover {
    color: white;
    background-color: #111;
}

.welcome-text {
    color: #FFFFFE;
    font-family: 'Fugaz One';
    font-size: 30px;
    letter-spacing: 2.5px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.welcome-desc {
    color: #FFFFFE;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.site-main {
    background-color: #000eFF;
}

.main-navigation li:hover>a,
.main-navigation li.focus>a,
.main-navigation li.current_page_item>a {
    background: #2e2e2e;
    opacity: 1;
}

.menu-item {
    background-color: #2e2e2e;
}


/* The Modal (background) */

.modal {
    display: none;
    border-radius: 2%;
    border: 2px solid gray;
    position: fixed;
    padding: 10px;
    padding-top: 0px;
    background-color: #0a1f29;
    height: 60%;
    width: 100%;
    bottom: 0%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.1s;
    animation-name: slideIn;
    animation-duration: 0.1s;
    padding-bottom: 5%;
}

#gal-list {
    height: 90%;
}

#gallery-modal {
    height: 30%;
    bottom: 2%;
}


/* The Close Button */

.close {
    color: white;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 1%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.grid {
    display: grid !important;
}

.town-menu-btn {
    display: block;
    background-color: #212155;
    border-left: 4px solid #3e6e8a;
    border-top: 2px solid #3e6e8a;
    ;
    border-right: 4px solid #212155;
    border-bottom: 2px solid #212155;
    border-radius: 30px;
    color: rgb(219, 253, 250);
    position: relative;
    font-family: 'Arial';
    width: 100%;
    height: 100%;
}

#gal-list {
    display: grid;
    color: rgb(231, 231, 231);
    background-color: #0a1f29;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(33%, auto);
    overflow: auto;
    gap: 2px;
}

#about-list {
    display: grid;
    color: white;
    background-color: none;
    overflow: auto;
    gap: 3.3%;
}

.galleria {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    background: #000
}